
body {
    background-color: #FFFFE0; 
    font-family: Arial, sans-serif;
    padding: 20px;
}


h1, h2 {
    color: red;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}


.main-list {
    font-family: Verdana, sans-serif;
    color: purple;
    font-weight: bold;
}

.main-list h2 {
    font-size: 14pt;
    margin-bottom: 5px;
}


.description {
    font-family: Verdana, sans-serif;
    color: green;
    font-weight: normal;
    text-align: justify;
}


.sub-list {
    font-family: "Times New Roman", serif;
    color: blue;
    font-size: 13pt;
    font-weight: normal; 
    /*ist-style-type: disc;*/
}